*   
    margin: 0
    padding: 0

.piegraph
    display: inline-block
    width: 200px
    height: 200px
    border-radius: 50%
    background-image: conic-gradient(yellow 0,red 90deg,blue 180deg,green 270deg,yellow 360deg)

.part2
    display: flex

.heart
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%)
    background: red
    width:200px
    height:200px

.heart2
    clip-path: ellipse(130px 140px at 10% 20%)
    background: blue
    width:200px
    height:200px

.heart3
    clip-path:polygon(25% 0, 50% 20%, 75% 0, 100% 20%, 100% 60%, 50% 95%, 0 60%, 0 20%)
    background: pink;
    width: 200px;
    height 200px 